body{
    margin: 0;
    background-color: rgb(251, 180, 251);
    font-family: 'Pacifico', cursive;
}
.text-white{
    color: white;
}
.menu{
    right: 30px;
    position: absolute;
}
.menuLink{
    color: #262626;
    font-size: 25px;
    text-decoration: none;
    padding: 0 15px;
    margin: 0 15px;
}
.menuLink:hover{
    color: #fff;
    background-color: #262626;
    border-radius: 15px;
}
.logo{
    color: #262626;
    font-size: 25px;
    text-decoration: none;
    padding: 0 15px;
    margin: 0 15px;
    cursor: pointer;
}
.flex{
    display: flex;
}
.header{
    padding: 15px;
    /* Домашка: Изменить размеры и цвет */
    box-shadow: 5px 5px 20px 2px rgb(155, 39, 155);
}
.centered{
    justify-content: center;
    align-content: center;
}
.w-half{
    width: 50%; 
    /* От родителя, а не от экрана */
}
.text-center{
    text-align: center;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-500{
    margin-bottom: 500px !important;
}
.p-15{
    padding: 15px;
}
.ps-100{
    padding: 15px 20% 15px 20%;
}
.bg-dark{
    background-color: #262626;
}
.grid{
    /* Вопрос 1: Что здесь происходит?  */
    display: grid;
    /* Вопрос 1: Что здесь происходит?  */
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    /* Вопрос 1: Что здесь происходит?  */
    grid-template-rows: auto;
    /* Вопрос 1: Что здесь происходит?  */
    gap: 30px;
}

.kvadrat{
    background-color: red;
    width: 100px;
    height: 100px;
    /* Вопрос 2: Что здесь происходит?  */
    position: absolute;
}

